{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee Tasks</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/employee_page.css' %}">
    {% include 'navbar.html' %}
</head>
<body>
<div class="table-container">
    <h1>Employee Tasks</h1>
    <table>
        <thead>
        <tr>
            <th>Task Name</th>
            <th class="estimated-hours">Estimated Hours</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th class="duration">Duration</th>
            <th class="status">Status</th>
            <th class="pause-duration">Pause Duration</th>
            <th class="actions-column">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for assignedTask in assignedTasks %}
            <tr>
                <td>{{ assignedTask.title.capitalize }}</td>
                <td class="estimated-hours">{{ assignedTask.estimated_hours }} h</td>
                <td>{{ assignedTask.start_time|datetime_format }}</td>
                <td>{{ assignedTask.end_time|datetime_format }}</td>
                <td class="duration">{{ assignedTask.duration|duration_format }}</td>
                <td class="status" id="status-{{ assignedTask.id }}">{{ assignedTask.status.capitalize }}</td>

                {% if assignedTask.status != 'todo' %}
                    <td class="pause-duration"
                        id="pause-duration-{{ assignedTask.id }}">{{ assignedTask.pause_duration | pause_duration_format }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td class="actions-column" id="actions-{{ assignedTask.id }}">
                    {% if assignedTask.status == 'todo' %}
                        <button class="start-btn"
                                id="start-btn-{{ assignedTask.id }}"
                                onclick="startTask('{{ assignedTask.id }}')">
                            Start
                        </button>
                    {% elif assignedTask.status == 'paused' %}
                        <button class="continue-btn"
                                id="continue-btn-{{ assignedTask.id }}"
                                onclick="continueTask('{{ assignedTask.id }}')">
                            Continue
                        </button>
                        <span id="countdown_{{ assignedTask.id }}"></span>
                    {% elif assignedTask.status == 'doing' %}
                        <button class="pause-btn"
                                id="pause-btn-{{ assignedTask.id }}"
                                onclick="pauseTask('{{ assignedTask.id }}')">
                            Pause
                        </button>
                        <button class="finish-btn"
                                id="finish-btn-{{ assignedTask.id }}"
                                onclick="finishTask('{{ assignedTask.id }}')">
                            Finish
                        </button>
                        <span id="countdown_{{ assignedTask.id }}"></span>
                    {% elif assignedTask.status == 'done' %}
                        <p class="completion-message"
                           id="completion-message-{{ assignedTask.id }}">{{ assignedTask.completion_message }}</p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    let tasks = JSON.parse('{{ assignedTasksJson | safe}}');
    console.log(tasks)
    refreshPage();

    function startTask(taskId) {
        // Disable the start button when the task is started.
        document.getElementById("start-btn-" + taskId).disabled = true;

        // Send AJAX request to start the task.
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/start_task/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Updated tasks object after starting the task.
                let assignedTask = createAssignedTask(JSON.parse(xhr.response).task)
                tasks = tasks.map(task => task._id === assignedTask._id ? assignedTask : task);

                // Disable start buttons for other tasks.
                disableAllStartButtons();

                // Start the countdown clock.
                startCountdown(taskId);

                // Refresh the page.
                location.reload();
            } else {
                // Handle error.
                console.log("Failed to start the task.");
            }
        };
        xhr.onerror = function () {
            // Request error, handle error.
            console.log("Request error.");
        };
        xhr.send("task_id=" + taskId);
    }

    function finishTask(taskId) {
        // Send AJAX request to finish the task.
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/finish_task/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Update task object after finishing the task.
                let assignedTask = createAssignedTask(JSON.parse(xhr.response).task)
                tasks = tasks.map(task => task._id === assignedTask._id ? assignedTask : task);

                // Task finished successfully.
                enableAllStartButtons();

                // Calculate the completion message.
                completionMessage();

                // Refresh the page.
                location.reload();
            } else {
                // Handle error.
                console.log("Failed to finish the task.");
            }
        };
        xhr.onerror = function () {
            // Request error, handle error.
            console.log("Request error.");
        };
        xhr.send("task_id=" + taskId);
    }

    function pauseTask(taskId) {
        // Send AJAX request to pause the task.
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/pause_task/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Update the tasks object when pausing the task.
                let assignedTask = createAssignedTask(JSON.parse(xhr.response).task);
                tasks = tasks.map(task => task._id === assignedTask._id ? assignedTask : task);

                // Refresh the page.
                location.reload();
            } else {
                // Handle error.
                console.log("Failed to pause the task.");
            }
        };
        xhr.onerror = function () {
            // Request error, handle error.
            console.log("Request error.");
        };
        xhr.send("task_id=" + taskId);
    }

    function continueTask(taskId) {
        // Send AJAX request to continue the task.
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/continue_task/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Update the tasks object when continuing a task.
                let assignedTask = createAssignedTask(JSON.parse(xhr.response).task);
                let taskPause = createTaskPause(JSON.parse(xhr.response).pause);

                tasks = tasks.map(task => task._id === assignedTask._id ? assignedTask : task);

                postNewTaskDuration(taskId, assignedTask.pause_duration + taskPause.duration);

                startCountdown(taskId); // Start the countdown clock.

                disableAllStartButtons();

                // Refresh the page.
                location.reload();
            } else {
                // Handle error.
                console.log("Failed to continue the task.");
            }
        };
        xhr.onerror = function () {
            // Request error, handle error.
            console.log("Request error.");
        };
        xhr.send("task_id=" + taskId);
    }

    function postNewTaskDuration(taskId, newDuration) {
        // Send AJAX request to update the task pause duration in the database.
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/update_task_pause_duration/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Task duration updated successfully.
                console.log("Task duration updated successfully.");

                // Refresh the page.
                location.reload();
            } else {
                // Handle error.
                console.log("Failed to update the task duration.");
            }
        };
        xhr.onerror = function () {
            // Request error, handle error.
            console.log("Request error.");
        };
        xhr.send("task_id=" + taskId + "&duration=" + newDuration);
    }

    function refreshPage() {
        let startedTask = tasks.find(task => task.status.toLowerCase() === 'doing' || task.status.toLowerCase() === 'paused');

        if (!startedTask) {
            enableAllStartButtons();
        }

        updateButtonDisplay();

        tasks.forEach(function (task) {
            if (task.status.toLowerCase() === 'doing') {
                disableAllStartButtons();
                startCountdown(task._id);
            }
        });

        tasks.forEach(function (task) {
            if (task.status.toLowerCase() === 'done') {
                completionMessage();
            }
        });

        tasks.forEach(function (task) {
            if (task.status.toLowerCase() === 'paused') {
                disableAllStartButtons();
                startCountdown(task._id);
            }
        });
    }

    function startCountdown(taskId) {
        let countdownElement = document.getElementById("countdown_" + taskId);
        let task = tasks.find(task => task._id === taskId);
        let startTime = task.start_time;
        let estimatedHours = task.estimated_hours;
        let status = task.status;
        let pause_duration = task.pause_duration | 0;

        if (countdownElement && status) {
            let countDownDate = new Date(startTime);
            countDownDate.setTime(countDownDate.getTime() + (estimatedHours * 60 * 60 * 1000) + pause_duration); // Convert estimated hours to milliseconds.

            if (status.toLowerCase() === "paused") {
                let countDownDate = new Date(startTime);
                countDownDate.setTime(countDownDate.getTime() + (estimatedHours * 60 * 60 * 1000) + pause_duration); // Convert estimated hours to milliseconds.

                let now = new Date().getTime();
                let distance = countDownDate - now;

                countdownElement.innerHTML = formatTime(distance);
            }

            let countdownInterval = setInterval(function () {
                let now = new Date().getTime();
                let distance = countDownDate - now;

                if (distance <= 0) {
                    clearInterval(countdownInterval);
                    countdownElement.innerHTML = "Time's up!";
                } else if (status.toLowerCase() !== 'paused') {
                    countdownElement.innerHTML = formatTime(distance);
                }
            }, 1000);
        }
    }

    function updateButtonDisplay() {
        tasks.forEach(function (task) {
            let taskId = task._id;
            let status = task.status;
            let pauseButton = document.getElementById('pause-btn-' + taskId);
            let continueButton = document.getElementById('continue-btn-' + taskId);
            let finishButton = document.getElementById('finish-btn-' + taskId);

            if (status.toLowerCase() === 'paused' && continueButton) {
                continueButton.style.display = 'inline-block';
            } else if (status.toLowerCase() === 'paused' && pauseButton && finishButton) {
                pauseButton.style.display = 'none';
                finishButton.style.display = 'none';
            } else if (status.toLowerCase() === 'doing' && pauseButton && finishButton) {
                pauseButton.style.display = 'inline-block';
                finishButton.style.display = 'inline-block';
            }
        });
    }

    // Enable start buttons for all tasks if no task has been started,
    function enableAllStartButtons() {
        let startButtons = document.getElementsByClassName("start-btn");

        for (let i = 0; i < startButtons.length; i++) {
            startButtons[i].disabled = false;
        }
    }

    // Disable start buttons for all tasks.
    function disableAllStartButtons() {
        let startButtons = document.getElementsByClassName("start-btn");

        for (let i = 0; i < startButtons.length; i++) {
            startButtons[i].disabled = true;
        }
    }

    function completionMessage() {
        tasks.forEach(function (task) {
            let taskId = task._id;
            let completionMessage = task.completionMessage;
            let status = task.status;

            if (status.toLowerCase() === "done") {
                task.completionMessage = "Completed in: " + getTimeTaken(task.duration) + ". Estimated Time: " + task.estimated_hours + "h";
            }

            if (completionMessage && status && status.toLowerCase() === 'done') {
                let completionMessageElement = document.createElement('p');
                completionMessageElement.textContent = completionMessage;
                completionMessageElement.classList.add('completion-message');

                let actionsCell = document.getElementById('actions-' + taskId);
                actionsCell.innerHTML = '';
                actionsCell.appendChild(completionMessageElement);
            }
        });
    }

    function formatTime(distance) {
        let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);
        let formattedTime = "";

        if (hours < 0) {
            formattedTime += "-" + Math.abs(hours) + "h ";
        } else {
            formattedTime += hours + "h ";
        }

        if (minutes < 0) {
            formattedTime += Math.abs(minutes) + "m ";
        } else {
            formattedTime += minutes + "m ";
        }

        if (seconds < 0) {
            formattedTime += Math.abs(seconds) + "s";
        } else {
            formattedTime += seconds + "s";
        }

        return formattedTime;
    }

    function getTimeTaken(duration) {
        let hours = Math.floor(duration / 3600);
        let minutes = Math.floor((duration % 3600) / 60);
        let seconds = duration % 60;

        let completionTime = "";
        if (hours > 0) {
            completionTime += hours + "h ";
        }
        if (minutes > 0) {
            completionTime += minutes + "m ";
        }
        completionTime += seconds + "s";

        return completionTime;
    }

    function createAssignedTask(data) {
        return new AssignedTask(data._id, data.title, data.description, data.difficulty, data.estimated_hours, data.start_time,
            data.end_time, data.status, data.user, data.duration, data.completionMessage, data.pause_duration);
    }

    function createTaskPause(data) {
        return new TaskPause(data._id, data.task_id, data.pause_start, data.pause_end, data.duration);
    }

    class Task {
        constructor(id, title, description, difficulty, estimatedHours, start_time, end_time, status) {
            this._id = id;
            this.title = title;
            this.description = description;
            this.difficulty = difficulty;
            this.estimated_hours = estimatedHours;
            this.start_time = start_time;
            this.end_time = end_time;
            this.status = status;
        }
    }

    class TaskPause {
        constructor(id, taskId, pauseStart, pauseEnd, duration) {
            this._id = id;
            this.task_id = taskId;
            this.pause_start = pauseStart;
            this.pause_end = pauseEnd;
            this.duration = duration;
        }
    }

    class AssignedTask {
        constructor(id, title, description, difficulty, estimatedHours, start_time, end_time, status, user, duration, completionMessage, pause_duration) {
            this._id = id;
            this.title = title;
            this.description = description;
            this.difficulty = difficulty;
            this.estimated_hours = estimatedHours;
            this.start_time = start_time;
            this.end_time = end_time;
            this.status = status;
            this.user = user;
            this.duration = duration;
            this.completionMessage = completionMessage;
            this.pause_duration = pause_duration
        }
    }
</script>
</body>
</html>
